fastapi  
httpx  
langchain  
langchain-google-genai  
langchain-groq  
langsmith  
llama-index  
llama-index-embeddings-huggingface  
llama-index-llms-groq
logging
mysql-connector-python  
oci  
pydantic-settings  
PyMuPDF  
pypdf2  
python-multipart  
uvicorn
sendgrid
ddgs
sentence-transformers
pinecone