@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #f0f9ff;
  --color-foreground: #0c4a6e;

  --color-card: #ffffff;
  --color-card-foreground: #0c4a6e;

  --color-muted: #64748b;
  --color-accent: #00AFEF;
  --color-border: #cbd5e1;

  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;

  --radius: 0.5rem;
}

@utility gradient-primary {
  background: var(--gradient-primary);
}
@utility text-gradient {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --sidebar: #007AA5;
  --sidebar-foreground: #ffffff;

  --sidebar-primary: #00AFEF;
  --sidebar-primary-foreground: #003a52;

  --sidebar-accent: #0E88B6;
  --sidebar-accent-foreground: #ffffff;

  --sidebar-border: #0E88B6;
  --sidebar-ring: #00AFEF;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);

  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);

  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);

  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root, body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

